<h1> 
your name is <%=f_name%> <%=l_name%> <br> 
your <%=age%> years old<br> 
your hair color is <%=hair%> and eyes are <%=eye%><br> 
your favorite food and drink are <%=food%> and <%=drink%><br> 
your favorite numbers are <%=num1%>, <%=num2%>, and <%=num3%> which add up to <%=total%> 
</h1>
