<h1> your name is <%=f_name%> <%=l_name%>, your <%=age%> years old, your hair color is 
<%=hair%> and eyes are <%=eye%>, your favorite food and drink are <%=food%> and <%=drink%>, and your favorite numbers are <%=num1%>, <%=num2%>, and <%=num3%> which add up to
<%=total%>. </h1>